@import "fonts.scss";
@import "libs.scss";
@import "vars.scss";

* {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	min-width: 320px;
	line-height: 1.65;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fff;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
}

img {
	max-width: 100%;
	height: auto;
}

button, input, a {
	&:focus {
		outline: none;
	}
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Дальше пишем код */



@import "media" // Всегда в конце