@import "fonts.scss";
@import "libs.scss";
@import "vars.scss";
@import "reset.scss";

body {
	opacity: 1;
	position: relative;
	font-size: 16px;
	line-height: 1.65;
	min-width: 320px;
}

/* Дальше пишем код */



@import "media" // Всегда в конце