

@import "variables.scss";
@import "reset.scss";

.section-title {
	font-size: 27px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 29px;
	&::after {
		content: '';
		margin-top: 12px;
		display: block;
		height: 6px;
		background: url(../img/line.png) center no-repeat;
	}
}

.button {
	font-size: 14px;
	background-color: #fd9c28;
	border: 1px solid transparent;
	color: #fff;
	padding: 13px 22px;
	img {
		width: 20px;
		height: 20px;
		vertical-align: middle;
	}
	&:hover {
		background-color: lighten($active-color, 5);
		cursor: pointer;
	}
	&_big {
		padding-top: 20px;
		padding-bottom: 20px;
		vertical-align: middle;
	}
	&-o {
		background-color: transparent;
		color: $text-color-dark;
		border: 1px solid $active-color;
		&:hover {
		background-color: lighten($active-color, 5);
		color: $text-color-light;
		border: 1px solid transparent;
		cursor: pointer;
		}
	}
}